{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Calorist — Рецепты</title>{% endblock %}

{% block extra_links %}<link rel='stylesheet' href='{% static "/dishes.css" %}'>{% endblock %}

{% block main_content %}
    {% if not dishes_page %}
    <div class='dishes_table'>
        <table border="0">
            <thead>
                <th colspan="3">Рецепты не найдены</th>
            </thead>
            <tbody>
                <tr align="left">
                    <td width="30%">
                        <img src='{% static "/default_dish_image.png" %}' width="300px">
                    </td>
                    <td>
                        <b>С вашем профилем не связано ни одного рецепта</b>
                    </td>
                </tr>            
            </tbody>
        </table>
    </div> 
    {% endif %}   
    {% for item in dishes_page %}
        <div class='dishes_table'>
            <table border="0">
                <thead>
                    <th colspan="3">
                        <a href="{% url 'dish' item.pk %}" style="color:white">{{ item.name }}</a>
                    </th>
                </thead>
                <tbody>
                    <tr align="left">
                        <td width="30%">
                            {% if item.dish_image.image %}
                                <img src='{{ item.dish_image.image.url }}' width="300px">
                            {% else %}
                                <img src='{% static "/default_dish_image.png" %}' width="300px">
                            {% endif %}
                        </td>
                        <td>
                            <p><b>Блюдо:</b> {{ item.name }}</p>
                            <p><b>Автор:</b> {{ item.created_by }}</p>
                            <p>
                                <b>Ингредиенты:</b>
                                {% for ingredient in item.ingredients.all %}
                                    {{ ingredient.name }}{% if not forloop.last %}, {% else %}.{% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <form method='post'>
                                {% csrf_token %}
                                <b>Добавить/Удалить:</b>
                                {% if item in request.user.dishes.all%}
                                <button type='submit' value='{{ item.pk }}' name='release_dish_id' formaction='{% url "release_dish" %}'>-</button>
                                {% else %}
                                <button type='submit' value='{{ item.pk }}' name='own_dish_id' formaction='{% url "own_dish" %}'>+</button>
                                {% endif %}
                                </form>
                            </p>
                        </td>
                    </tr>            
                </tbody>
            </table>
        </div>
        {% endfor %}

    {% if dishes_page.has_previous or dishes_page.has_next %}
    <div class='pagination' style='margin-top: 10px; margin-left: auto; margin-right: auto;'>
        <span class='step-links'>
            {% if dishes_page.has_previous %}
                <a href='?page=1'>&#10094;&#10094;</a>
                &nbsp;
                <a href='?page={{ dishes_page.previous_page_number }}'>&#10094;</a>
            {% else %}
                &#10094;&#10094;
                &nbsp;
                &#10094;
            {% endif %}
    
            <span class='current_page_str'>
                &nbsp;Страница {{ dishes_page.number }} из {{ dishes_page.paginator.num_pages }}&nbsp;
            </span>
    
            {% if dishes_page.has_next %}
                <a href='?page={{ dishes_page.next_page_number }}'>&#10095;</a>
                &nbsp;
                <a href='?page={{ dishes_page.paginator.num_pages }}'>&#10095;&#10095;</a>
            {% else %}
            &#10095;
            &nbsp;
            &#10095;&#10095;
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}
