{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Calorist — Ингредиенты</title>{% endblock %}

{% block extra_links %}<link rel='stylesheet' href='{% static "/ingredients.css" %}'>{% endblock %}

{% block main_content %}
    <div class='ingredients_table'>
        <table>
            <thead>
                <th width="40%">Ингредиент</th>
                <th width="15%">Ккал / 100 г</th>
                <th width="15%">Белки (г)</th>
                <th width="15%">Жиры (г)</th>
                <th width="15%">Углеводы (г)</th>
            </thead>
            <tbody>
                <tr>
                    <td>Молоко</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Огурцы</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Молоко</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Огурцы</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Молоко</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Огурцы</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Молоко</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Огурцы</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Молоко</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Огурцы</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Молоко</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Огурцы</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
                <tr>
                    <td>Молоко</td>
                    <td>100,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                    <td>10,00</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
