{% extends 'base.html' %}

{% block title %}<title>Calorist — Результаты поиска</title>{% endblock %}

{% block main_content %}
<h1>Результаты поиска</h1>
<h2>По запросу «{{ query }}» найдены следующие ингредиенты и рецепты:</h2>
{% if ingredients %}
    <h3>Ингредиенты:</h3>
    <ul>
        {% for result in ingredients %}
            <li>
                <form method='post'>
                    {% csrf_token %}
                    {% if result in request.user.ingredients.all %}
                    {{ result }} <button type='submit' value='{{ result.id }}' name='release_ingredient_id' formaction='{% url "release_ingredient" %}'>-</button>
                    {% else %}
                    {{ result }} <button type='submit' value='{{ result.id }}' name='own_ingredient_id' formaction='{% url "own_ingredient" %}'>+</button>
                    {% endif %}
                </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% if dishes %}
    <h3>Рецепты:</h3>
    <ul>
        {% for result in dishes %}
        <li>
            <form method='post'>
                {% csrf_token %}
                {% if result in request.user.dishes.all %}
                <a href='{% url "dish" result.id %}'>{{ result }}</a>
                <button type='submit' value='{{ result.id }}' name='release_dish_id' formaction='{% url "release_dish" %}'>-</button>
                {% else %}
                <a href='{% url "dish" result.id %}'>{{ result }}</a>
                <button type='submit' value='{{ result.id }}' name='own_dish_id' formaction='{% url "own_dish" %}'>+</button>
                {% endif %}
            </form>
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% if not ingredients and not dishes %}
<h3>К сожалению, ничего не найдено</h3>
{% endif %}
{% endblock %}
