/* Common */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #f8f4f4;
}

.header, .content-wrapper, .container, .content, .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

/* Header */

.header {
    margin-bottom: 10px;
    background: #412985;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header_menu {
    width: 100%;
    & table {
        margin-left: auto;
        margin-right: auto;
        width: 1280px;
        height: 50px;
    }
}

.search {background: #412985;}

.search form {
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
.search input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #b7bbbb;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.search button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #6CAEDD;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

/* Footer */

.footer {
    margin-top: 10px;
    height: 100px;
    background: #364850;
    color: #ffffff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

/* Content zone */

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    flex: 1 0 auto;
}

/* Main content */

.content {
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    order: 0;
}

/* Dropdown Button */
.dropbtn {
    width: 100%;
    background-color: #412985;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    text-align: left;
    width: 175px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {background-color: #84bbe2;}
